/* ====svg icons ===== */
.svg-arrow{
	width: 12px;
	height: 14px;
	fill:white; 
}
.svg-email,
.svg-be, 
.svg-inst,
.svg-phone,
.svg-pin,
.svg-map{
	width: 24px;
	height: 24px;
	fill: #000000;
}
.svg-email{
	fill:#574E56; 
}
.svg-map{height: 33px;}