.svg-adres {
    width: 23px;
    height: 33px;
    fill: black;
}

.svg-email {
    width: 24px;
    height: 24px;
    fill: #574E56;
}

.svg-arrow {
    width: 12px;
    height: 14px;
    fill: white;
}

.svg-behance {
    width: 24px;
    height: 15px;
    fill: black;
}

.svg-istagram {
    width: 24px;
    height: 24px;
    fill: black;
}

.svg-phone {
    width: 18px;
    height: 24px;
    fill: black;
}

.svg-pinterest {
    width: 24px;
    height: 24px;
    fill: black;
}