// Color 
$text-color: #574E56;
$accent-color: #F6D5A7;
$accent-color-hover: #ffc779;
$accent-color-active: #fa9200;
$black-color: #323232;
$header-color-bg: #F9F8F6;
$form-border-color: #DDDDDD;
$form-text-color: #ACA9A9;