.contacts {
    padding-top: 88px;
    padding-bottom: 146px;

    /* Desctop от 1439px до 1200px */
    @media (max-width: 1439px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.contacts__title {
    margin-bottom: 91px;
}

.contacts__content {
    display: flex;
    column-gap: 115px;
    align-items: start;
}

.contacts-form-wrapper {
    width: 505px;
    flex-shrink: 0;
}

.form-input, .form-textarea {
    display: block;
    padding-left: 19px;
    padding-right: 19px;
    height: 65px;
    width: 100%;
    border: 1px solid $form-border-color;
    color: $form-text-color;
}

.form-input:focus {
    border: 1px solid $accent-color-active;
    box-shadow: 0 0 10px $accent-color;
}

.form-textarea {
    padding-top: 27px;
    padding-bottom: 27px;
    height: 246px;
    resize: none;

    &:focus {
        border: 1px solid $accent-color-active;
        box-shadow: 0 0 10px $accent-color;
    }
}



.form-item + .form-item {
    margin-top: 20px;
}

.contacts-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 95px;
    row-gap: 61px;
}

.contacts-list__item {
    display: flex;
    column-gap: 16px;

    & .contacts-list__text a {
        transition: color 0.3s ease-in;
    }
    & .contacts-list__icon svg {
        transition: fill 0.3s ease-in;
    }

    &:hover .contacts-list__text a {
        color: $accent-color-hover;
    }

    &:hover .contacts-list__icon svg {
        fill: $accent-color-hover;
    }
}

.contacts-list__item .text-upper {
    margin-bottom: 3px;
}

.contacts-list__item .text-upper + * {
    color: $text-adres-color;
}